{% include "base.html" %} 

{% load static %} 

{% block content %}

<style>
    body {
      
      background-color: gray;


    }



</style>
<body>
  <br>

  <div class="container bg-white shadow-md p-5 form-layout">
    <div class="text-center">
        <i class="fa-solid fa-exclamation text-danger fa-3x"></i>
        
        <br> <br>
        
        <h5> <strong>Your account is not verified</strong></h5>
        
        <hr>

        <p>Please contact admin support</p>

    </div>
  </div>
    
</body>



{% endblock content %}
