{% include "base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PlaylistTransfer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user-logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="my-login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup">Signup</a>
                    </li>

                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label for="sourcePlatform" class="form-label">Choose from what platform would you like to transfer your playlists</label>
                <select id="sourcePlatform" class="form-select">
                    <option value="spotify">Spotify</option>
                    <option value="appleMusic">Apple Music</option>
                    <option value="youtube">YouTube</option>
                </select>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label for="destinationPlatform" class="form-label">Choose to what platform would you like to transfer your playlists</label>
                <select id="destinationPlatform" class="form-select">
                    <option value="spotify">Spotify</option>
                    <option value="appleMusic">Apple Music</option>
                    <option value="youtube">YouTube</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-success btn-lg">TRANSFER</button>
        </div>
    </div>
</div>

{% endblock content %}

    

