{% extends 'base.html' %}

{% block content %}
    <h1>Playlists</h1>
    <form id="playlists-form" method="post" action="{% url 'transfer' %}">
        {% csrf_token %}
        <ul>
            {% for playlist in playlists %}
                <li>
                    <input type="checkbox" name="playlists" value="{{ playlist.id }}">
                    <img src="{{ playlist.images.0.url }}" alt="{{ playlist.images.0.url }} Image" width="300" height="300">
                    <h2>{{ playlist.name }}</h2>
                    <a href="{% url 'list_tracks' playlist.id %}">Tracks: {{ playlist.tracks.total }}</a>
                    <br><br>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success btn-lg">Transfer Tracks</button>
    </form>
{% endblock %}
