{% extends 'base.html' %}

{% block content %}
    <h1>Playlists</h1>
    <ul>
        {% for playlist in playlists %}
            <li>
                <img src="{{ playlist.images.0.url }}" alt="{{ playlist.images.0.url }} Image">
                
                <h2>{{ playlist.name }}</h2>
                <a href="{% url 'list_tracks' playlist.id %}">Tracks: {{ playlist.tracks.total }}</a>
                <br>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}